.logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.logo{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    color: var(--color-azul);
    text-align: center;
    padding: 20px;
}