@import url("../App.css");

.tarea-container {
  width: 500px;
  min-height: 65px;
  background-color: var(--color-verdeAz);
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
}

/* ------- */
/* Colores */
/* ------- */

.tarea-container:nth-child(3n + 1){
  background-color: var(--color-verdeAz);
}

.tarea-container:nth-child(3n + 2){
  background-color: var(--color-verdeOsc);
}

.tarea-container:nth-child(3n + 3){
  background-color: var(--color-verde);
}

/* ----- */
/* Texto */
/* ----- */

.tarea-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;

  color: var(--color-blanco);
}

.tarea-icon {
  width: 25px;
  height: 25px;
  margin: 5px;

  color: var(--color-blanco);
}

/* Tarea Completada */

.tarea-container.completada {
  background-color: var(--color-azul);
  text-decoration: line-through;
  color: var(--color-blanco);
}
